html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

#download
{
  width: 100%;
  height: 20px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
}

#radial
{
    position: absolute;
    top: 25%; left: 50%;
}

#circle
{
    position: absolute;
    top: 25%; left: 75%;
}